.profile-headers {
    width: 800px;
    margin: auto;
    min-height: 100px;
    height: fit-content;
    max-height: 500px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.profile-image>img {
    height: 130px;
    width: 130px;
    border-radius: 10px;
}

.profile-description {
    width: 500px;
}

.profile-buttons {
    width: 180px;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.profile-buttons-unactive {
    all: unset;
    cursor: pointer;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    background-color: #393E46;
}

.profile-buttons-active {
    all: unset;
    cursor: pointer;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    background-color: #00ADB5;
}

.profile-buttons>button:hover {
    background-color: #393e46a0;
}